/* Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)

### Neutral

- White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (inputs): 32px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400i, 700, 800i
*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--neutral-off-white);
}
.container {
  max-width: 730px;
  min-width: 340px;
  width: 55vw;
  background-color: var(--neutral-white);
  padding: 2rem;
  border-radius: 1rem;
  border-bottom-right-radius: 30%;
}
.form {
  display: flex;
  flex-direction: column;
}

.contentForm {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
  width: 100%;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 170px;
  min-width: 90px;
}

.label {
  font-size: .8rem;
  color: var(--neutral-smokey-grey);
  letter-spacing: .2rem;
}

.input {
  font-size: 2rem;
  font-weight: 700;
  color: var(--neutral-smokey-grey);
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
  border : 1px solid var(--neutral-light-grey);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  -moz-appearance: textfield;
}

.input:not(:placeholder-shown) {
  color: var(--neutral-off-black);
}

.submit {
  background-color: var(--neutral-off-black);
  border-radius: 50%;
  border: none;
  padding: 1rem;
  align-self: flex-end;
  margin-top: 1rem;
}

.submit:hover {
  background-color: var(--primary-purple)
}

.line {
  margin-top: -40px;
  margin-bottom: 40px;
  color: var(--neutral-off-white);
}

.result {
  color: var(--primary-purple);
  font-weight: 800;
  font-style: italic;
  font-size: 5rem;
  letter-spacing: .5rem;
}

.resultText {
  color: var(--neutral-off-black);
  font-weight: 800;
  font-style: italic;
  font-size: 5rem;
}

.attribution {
  font-size: .7rem; text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 1024px) {
  .submit {
    align-self: center;
  }
}

.error {
  font-size: .9rem;
  font-weight: 400;
  color: var(--primary-light-red);
}

.errorLabel {
  color: var(--primary-light-red);
}

.errorInput {
  border : 1px solid var(--primary-light-red);
}
